* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */

header .navbar-brand span {
  font-size: 40px;
}

#cyberportfolio i {
  font-size: 60px;
  color: #35a22c;
}

/* end header */

/* start carousel */
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
}

.carousel-item .carousel-caption h5 {
  font-size: 70px;
}

.carousel-item .carousel-caption p {
  font-size: 30px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-caption img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header a {
  color: white;
}

#home {
  color: #35a22c;
}

header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
}

header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar .nav-item a:hover {
  color: #35a22c;
}

header .navbar .nav-item a:hover::before {
  width: 100%;
}

.carousel-indicators .active {
  background-color: #35a22c;
}

.carousel-indicators {
  bottom: 50px;
}
/* end carousel */

/*start project */

#projects {
  padding-bottom: 100px;
}

.projects_item {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

.projects_item h1 {
  line-height: 2;
  font-size: 60px;
}

.projects_item p {
  font-size: 20px;
  color: gray;
  line-height: 1.7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #35a22c;
}

#projects .nav {
  justify-content: center;
}

#projects .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  border: none;
}

#projects .card-body {
  border: 1px solid transparent;
  border-top: transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#projects .card:hover .card-body {
  border: 2px solid #35a22c;
  border-top: transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#projects .card:hover h5 {
  color: #35a22c;
}

/* end project */

/* start table*/

.table {
  position: relative;
  background-image: url(./image/3.jpg);
  background-size: cover;
  padding: 100px 0 100px;
  background-attachment: fixed;
  color: white;
  height: 70vh;
}

.table_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(7, 10, 12, 0.72);
}

.table p {
  font-size: 20px;
}

.table_top {
  padding: 100px 0 40px 0;
  width: 40%;
  margin: auto;
  text-align: center;
}

.table_top h1 {
  font-size: 60px;
  padding-bottom: 20px;
}

.table_bot {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.table_list {
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
  padding: 60px 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: transparent;
  border-radius: 16px;
}

.table_list:hover {
  background: black;
  border: 1px solid white;
  transition: 0.8s;
}

.list_icon i {
  font-size: 50px;
  padding-bottom: 20px;
  color: #35a22c;
}

.table_list p {
  padding: 10px 30px;
}

/* end table*/

/* start award */

.award {
  position: relative;
}

.award_bg {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award_overlay {
  width: 80%;
  margin: auto;
  padding: 100px 100px;
  display: flex;
}

.award_left {
  width: 35%;
  margin: auto;
  padding: 60px 60px;
  background: white;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.award_left h1 {
  padding: 20px 0;
  font-size: 60px;
}

.award_left p {
  font-size: 20px;
  line-height: 1.8;
  color: gray;
}

.award_right {
  width: 60%;
  margin: auto;
}

.award_bot {
  display: flex;
  justify-content: space-between;
}

.award_top p {
  color: gray;
  font-size: 20px;
  line-height: 1.8;
}
/* end award */

/* start footer*/

.footer {
  background: black;
  width: 100%;
  height: 100%;
  color: gray;
}

.footer_top {
  width: 70%;
  padding: 30px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.footer_top a {
  padding: 15px 0 10px 15px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  color: gray;
}

.footer_top a:hover {
  border: 1px solid #35a22c;
  color: #35a22c;
}

.footer_top a i {
  font-size: 30px;
}

.footer_bot {
  text-align: center;
  padding: 60px 0 80px 0;
}

/* end footer*/
